<footer class="wrapper style1 align-center">
    <div class="inner">
        <ul class="icons">
            <li><a href="https://www.facebook.com/tutors.in.action.malaysia?mibextid=ZbWKwL" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
            <li><a href="https://www.instagram.com/tutors.in.action/" target="_blank" rel="noopener noreferrer" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="https://tutors-in-action.org/discord" target="_blank" rel="noopener noreferrer" class="icon brands style2 fa-discord"><span class="label">Discord</span></a></li>
            <li><a href="https://www.youtube.com/channel/UCsfUo4ARbOGjbLAkfEnyFSA" target="_blank" rel="noopener noreferrer" class="icon brands style2 fa-youtube"><span class="label">YouTube</span></a></li>
            <li><a href="https://www.linkedin.com/company/tutors-in-action-malaysia/" class="icon brands style2 fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
            <!--<li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>-->
        </ul>
        <p>Persatuan Pelajar Bantu Pelajar Malaysia (PPM-007-14-12102022) © 2023, All rights reserved.
            <br>
            <span style="font-size: 70%;">
                <a href="{{ site.baseurl }}/privacy-policy/">Privacy Policy</a>
                <a href="{{ site.baseurl }}/complaint-form/">Complaint Form</a>
            </span>
        </p>
    </div>
</footer>
