<!DOCTYPE HTML>
<html>
    <head>
		<title>Tutors In Action</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="/assets/css/nav.css" />
        <link rel="stylesheet" href="/assets/css/resources.css">
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
		<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
	</head>
	<body class="is-preload">

        <div class="topnav align-center" id="myTopnav">
			<a href="/">Home</a>
			<!--<a href="/impact/">Impact</a>-->
			<a href="/about/">About</a>
            <a href="/contact/" class= "active">Contact</a>
            <!--<a href="/faq/">FAQs</a>-->
            <a href="/resources" >Resources </a>
            
		</div>

        <section class="wrapper style2 align-center"><h1>Contact Us</h1></section>

        <section class="wrapper style1 align-center">
            <div class="inner">
                <div class = "button"> General Inquiries</div>
                <div>contact@tutors-in-action.org</div>
                <br></br> 
                <div class = "button"> Collaborations and Sponsorship</div>
                <div>outreach@tutors-in-action.org</div>
            </div>
            </div>
        </section>
        <footer class="wrapper style1 align-center">
            <div class="inner">
                <ul class="icons">
                    <li><a href="https://www.instagram.com/tutors.in.action/" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="https://tutors-in-action.org/discord" target="_blank" rel="noopener noreferrer" class="icon brands style2 fa-discord"><span class="label">Discord</span></a></li>
                    <!--<li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands style2 fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                    <li><a href="#" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>-->
                </ul>
                <p>Tutors In Action Malaysia (PPM-XXXX) © 2022, All rights reserved.</p>
            </div>
        </footer>
        <script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>
    </body>
</html>
