<!DOCTYPE HTML>
<html>
    <head>
		<title>Tutors In Action</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
		<link rel="shortcut icon" type="image/png" href="/favicon.png">
	</head>
	<body class="is-preload">

        <section class="wrapper style2 align-center"><h1>About Us</h1></section>
        <section class="wrapper style1 align-center">
            <div class="inner">
                <div class="items style1 medium onscroll-fade-in">
                    <section>
                        <span class="icon solid style2 major fa-bolt"></span>
                        <h3>What Inspired Us?</h3>
                        <p>During the lockdown period, we realised that not everyone has the chance to obtain one-to-one guidance from teachers on topics that they may struggle with.</p>
                    </section>
                    <section>
                        <span class="icon style2 major fa-paper-plane"></span>
                        <h3>Our Aim</h3>
                        <p>We aim to help students who are currently struggling with their academics due to the disruption of classes and lack of access to affordable tuition classes during this challenging time.</p>
                    </section>
                    <section>
                        <span class="icon solid style2 major fa-cog"></span>
                        <h3>Who are we?</h3>
                        <p>We’re a team of college students (Matriculation and A-Level students) who have graduated from SPM 2 years ago who are hoping to make a difference by helping Form 5 students to the best of our abilities.</p>
                    </section>
                </div>
            </div>
        </section>
        <section class="wrapper style2 align-center">
            <h1>How It Works?</h1> 
            <br>
            <div class = "content">
                <h3>Who can apply as tuttee?</h3>
                <div class = "box"> 
                    <p>Those who are form 5 and taking SPM</p>
                </div>
                <h3>How many subjects can I sign up for?</h3>
                <div class = "box"> 
                    <p>As a student, you may sign up for one subject per month. If there are more than one subjects that you struggle with, you may sign up for a different subject during a different term.</p>
                </div>
                <h3>Who can apply as a tutor?</h3>
                <div class = "box"> 
                    <p>If you fulfil the following criteria, you may apply as a tutor:<br>
                        1. Graduated from the SPM syllabus<br>
                        2. Obtained a minimum grade A in SPM for the subjects that you wish to tutor<br>
                        3. Graduated from secondary school less than 5 years ago</p>
                </div>
                <h3>
                    What are the responsibilities of a volunteer tutor?</h3>
                <div class = "box"> 
                    <p>Throughout the term that they have signed up for, tutors are expected to conduct weekly, one-hour tutoring sessions via free online platforms such as Zoom. Tutors are also free to set the date and time for each of the tutoring sessions.</p>
                </div>
                <h3>
                    If I wish to continue as a tutor/ tutee for another term, do I have to sign up again?</h3>
                <div class = "box"> 
                    <p>Yes. This is because the pairings of tutors and tutees will be renewed every month. This is to adhere to the one-month commitment policy for tutors and to allow tutees to sign up for a different subject during a new term.</p>
                </div>
            </div>
        </section>

        <section class="wrapper style1 align-center">
            <div class="inner">
                <h2>The Team</h2>
            </div>
            <!-- Gallery -->
                <div class="gallery style2 medium lightbox onscroll-fade-in">
                    <article>
                        <a href="/assets/images/gallery/fulls/01.jpg" class="image">
                            <img src="/assets/images/gallery/thumbs/01.jpg" alt="" />
                        </a>
                        <div class="caption">
                            <h3>Ipsum Dolor</h3>
                            <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/02.jpg" class="image">
                            <img src="/assets/images/gallery/thumbs/02.jpg" alt="" />
                        </a>
                        <div class="caption">
                            <h3>Feugiat Lorem</h3>
                            <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/03.jpg" class="image">
                            <img src="/assets/images/gallery/thumbs/03.jpg" alt="" />
                        </a>
                        <div class="caption">
                            <h3>Magna Amet</h3>
                            <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/04.jpg" class="image">
                            <img src="/assets/images/gallery/thumbs/04.jpg" alt="" />
                        </a>
                        <div class="caption">
                            <h3>Sed Tempus</h3>
                            <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/05.jpg" class="image">
                            <img src="/assets/images/gallery/thumbs/05.jpg" alt="" />
                        </a>
                        <div class="caption">
                            <h3>Ultrices Magna</h3>
                            <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/06.jpg" class="image">
                            <img src="/assets/images/gallery/thumbs/06.jpg" alt="" />
                        </a>
                        <div class="caption">
                            <h3>Sed Tempus</h3>
                            <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/07.jpg" class="image">
                            <img src="/assets/images/gallery/thumbs/07.jpg" alt="" />
                        </a>
                        <div class="caption">
                            <h3>Ipsum Lorem</h3>
                            <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/08.jpg" class="image">
                            <img src="/assets/images/gallery/thumbs/08.jpg" alt="" />
                        </a>
                        <div class="caption">
                            <h3>Magna Risus</h3>
                            <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/09.jpg" class="image">
                            <img src="/assets/images/gallery/thumbs/09.jpg" alt="" />
                        </a>
                        <div class="caption">
                            <h3>Tempus Dolor</h3>
                            <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/10.jpg" class="image">
                            <img src="/assets/images/gallery/thumbs/10.jpg" alt="" />
                        </a>
                        <div class="caption">
                            <h3>Sed Etiam</h3>
                            <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/11.jpg" class="image">
                            <img src="/assets/images/gallery/thumbs/11.jpg" alt="" />
                        </a>
                        <div class="caption">
                            <h3>Magna Lorem</h3>
                            <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/12.jpg" class="image">
                            <img src="/assets/images/gallery/thumbs/12.jpg" alt="" />
                        </a>
                        <div class="caption">
                            <h3>Ipsum Dolor</h3>
                            <p>Lorem ipsum dolor amet, consectetur magna etiam elit. Etiam sed ultrices.</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                </div>

        </section>
        <footer class="wrapper style1 align-center">
            <div class="inner">
                <ul class="icons">
                    <li><a href="https://www.instagram.com/tutors.in.action/" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
                    <!--<li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands style2 fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                    <li><a href="#" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>-->
                </ul>
                <p>Tutors In Action Malaysia (PPM-XXXX) © 2022, All rights reserved.</p>
            </div>
        </footer>
        <script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>t
    </body>
</html>