<!DOCTYPE HTML>
<html>
    <head>
		<title>Tutors In Action</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="/assets/css/nav.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
		<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
	</head>
	<body class="is-preload">

        <div class="topnav align-center" id="myTopnav">
			<a href="/">Home</a>
			<!--<a href="/impact/">Impact</a>-->
			<a href="/about/" class="active">About</a>
            <a href="/contact/">Contact</a>
            <!--<a href="/faq/">FAQs</a>-->
		  </div>
        
        <section class="wrapper style2 align-center"><h1>About Us</h1></section>
        <section class="wrapper style1 align-center">
            <div class="inner">
                <div class="items style1 medium onscroll-fade-in">
                    <section>
                        <span class="icon solid style2 major fa-bolt"></span>
                        <h3>What  Inspired  Us?</h3>
                        <p>During the lockdown period, we realised that not everyone has the chance to obtain one-to-one guidance from teachers on topics that they may struggle with.</p>
                    </section>
                    <section>
                        <span class="icon style2 major fa-paper-plane"></span>
                        <h3>Our  Aim</h3>
                        <p>We aim to help students who are currently struggling with their academics due to the disruption of classes and lack of access to affordable tuition classes during this challenging time.</p>
                    </section>
                    <section>
                        <span class="icon solid style2 major fa-cog"></span>
                        <h3>Who  Are  We?</h3>
                        <p>We are a team of Malaysian youths hoping to help SPM students to achieve their best.</p>
                    </section>
                </div>
            </div>
        </section>
        <section class="wrapper style2 align-center">
            <div class ="inner">
            <h1>How It Works?</h1> 
            <br>
            <div class = "content">
                <h3>Who can apply as tutee?</h3>
                <div class = "box"> 
                    <p>Those who are form 5 and taking SPM</p>
                </div>
                <h3>How many subjects can I sign up for?</h3>
                <div class = "box"> 
                    <p>As a student, you may sign up for one subject per month. If there are more than one subjects that you struggle with, you may sign up for a different subject during a different term.</p>
                </div>
                <h3>Who can apply as a tutor?</h3>
                <div class = "box"> 
                    <p>If you fulfil the following criteria, you may apply as a tutor:<br>
                        1. Graduated from the SPM syllabus<br>
                        2. Obtained a minimum grade A in SPM for the subjects that you wish to tutor<br>
                        3. Graduated from secondary school less than 5 years ago</p>
                </div>
                <h3>
                    What are the responsibilities of a volunteer tutor?</h3>
                <div class = "box"> 
                    <p>Throughout the term that they have signed up for, tutors are expected to conduct weekly, one-hour tutoring sessions via free online platforms such as Zoom. Tutors are also free to set the date and time for each of the tutoring sessions.</p>
                </div>
                <h3>
                    If I wish to continue as a tutor/ tutee for another term, do I have to sign up again?</h3>
                <div class = "box"> 
                    <p>Yes. This is because the pairings of tutors and tutees will be renewed every month. This is to adhere to the one-month commitment policy for tutors and to allow tutees to sign up for a different subject during a new term.</p>
                </div>
            </div>
        </div>
        </section>

        <section class="wrapper style1 align-center">
            <div class="inner">
                <h2>The Committee</h2>
            </div>
            <!-- Gallery -->
                <div class="gallery style2 medium lightbox onscroll-fade-in">
                    <article>
                        <a href="/assets/images/gallery/fulls/ChloeYeo.png" class="image">
                        <picture>
                            <source srcset="/assets/images/gallery/thumbs/ChloeYeo.webp" type="image/webp">
                            <source srcset="/assets/images/gallery/thumbs/ChloeYeo.png" type="image/png">
                            <img src="/assets/images/gallery/thumbs/ChloeYeo.png" alt="Chloe Yeo">
                        </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Chloe Yeo</b></h3>
                            <p>Co-Founder</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/MeiLin.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/thumbs/MeiLin.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/thumbs/MeiLin.png" type="image/png">
                                <img src="/assets/images/gallery/thumbs/MeiLin.png" alt="Mei Lin">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Mei Lin</b></h3>
                            <p>Co-Founder</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/DaphneYeo.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/thumbs/DaphneYeo.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/thumbs/DaphneYeo.png" type="image/png">
                                <img src="/assets/images/gallery/thumbs/DaphneYeo.png" alt="Daphne Yeo">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Daphne Yeo</b></h3>
                            <p>Co-Executive Director</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/ChooiJeQin.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/thumbs/ChooiJeQin.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/thumbs/ChooiJeQin.png" type="image/png">
                                <img src="/assets/images/gallery/thumbs/ChooiJeQin.png" alt="Chooi Je Qin">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Chooi Je Qin</b></h3>
                            <p>Co-Executive Director</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/JiaYi.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/thumbs/JiaYi.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/thumbs/JiaYi.png" type="image/png">
                                <img src="/assets/images/gallery/thumbs/JiaYi.png" alt="Jia Yi">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Jia Yi</b></h3>
                            <p>Communications Director</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/ChiangRu.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/thumbs/ChiangRu.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/thumbs/ChiangRu.png" type="image/png">
                                <img src="/assets/images/gallery/thumbs/ChiangRu.png" alt="Chiang Ru">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Chiang Ru</b></h3>
                            <p>Welfare Director</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/AfrinaDayana.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/committeepics/Anoushka.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/committeepics/Anoushka.png" type="image/png">
                                <img src="/assets/images/gallery/committeepics/Anoushka.png" alt="Anoushka">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Anoushka Rajendran</b></h3>
                            <p>Publicity Director</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/SinYi.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/thumbs/SinYi.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/thumbs/SinYi.png" type="image/png">
                                <img src="/assets/images/gallery/thumbs/SinYi.png" alt="Sin Yi">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Sin Yi</b></h3>
                            <p>Resource Director</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/SongLing.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/thumbs/SongLing.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/thumbs/SongLing.png" type="image/png">
                                <img src="/assets/images/gallery/thumbs/SongLing.png" alt="SongLing">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Song Ling</b></h3>
                            <p>Communications Executive</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/HoungJunHong.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/thumbs/HoungJunHong.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/thumbs/HoungJunHong.png" type="image/png">
                                <img src="/assets/images/gallery/thumbs/HoungJunHong.png" alt="Houng Jun Hong">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Houng Jun Hong</b></h3>
                            <p>Welfare Executive</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/Tiffany.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/thumbs/Tiffany.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/thumbs/Tiffany.png" type="image/png">
                                <img src="/assets/images/gallery/thumbs/Tiffany.png" alt="Tiffany">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Tiffany</b></h3>
                            <p>Welfare Executive</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/Amirul.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/thumbs/Amirul.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/thumbs/Amirul.png" type="image/png">
                                <img src="/assets/images/gallery/thumbs/Amirul.png" alt="Amirul">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Amirul Haziq</b></h3>
                            <p>Tech Director</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/Anoushka.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/thumbs/Anoushka.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/thumbs/Anoushka.png" type="image/png">
                                <img src="/assets/images/gallery/thumbs/Anoushka.png" alt="Anoushka">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Anoushka</b></h3>
                            <p>Publicity Director</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/KitXiang.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/thumbs/KitXiang.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/thumbs/KitXiang.png" type="image/png">
                                <img src="/assets/images/gallery/thumbs/KitXiang.png" alt="Kit Xiang">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Kit Xiang</b></h3>
                            <p>Publicity Executive</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/Amelia.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/thumbs/Amelia.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/thumbs/Amelia.png" type="image/png">
                                <img src="/assets/images/gallery/thumbs/Amelia.png" alt="Amelia">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Amelia</b></h3>
                            <p>Resource Executive</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/Venessa.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/thumbs/Venessa.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/thumbs/Venessa.png" type="image/png">
                                <img src="/assets/images/gallery/thumbs/Venessa.png" alt="Venessa">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3>Venessa<b></b></h3>
                            <p>Outreach Executive</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                </div>

        </section>
        <footer class="wrapper style1 align-center">
            <div class="inner">
                <ul class="icons">
                    <li><a href="https://www.instagram.com/tutors.in.action/" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="https://tutors-in-action.org/discord" target="_blank" rel="noopener noreferrer" class="icon brands style2 fa-discord"><span class="label">Discord</span></a></li>
                    <!--<li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands style2 fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                    <li><a href="#" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>-->
                </ul>
                <p>Tutors In Action Malaysia (PPM-XXXX) © 2022, All rights reserved.</p>
            </div>
        </footer>
        <script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>t
    </body>
</html>
