<!DOCTYPE HTML>
<html>
    <head>
		<title>Tutors In Action</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="/assets/css/nav.css" />
        <link rel="stylesheet" href="/assets/css/resources.css">
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
		<link rel="shortcut icon" type="image/png" href="/assets/images/tia_ppbpm_favicon.png">
	</head>
	<body class="is-preload">

        <div class="topnav align-center" id="myTopnav">
			<a href="/">Home</a>
			<!--<a href="/impact/">Impact</a>-->
			<a href="/about/" class="active">About</a>
            <a href="/contact/">Contact</a>
            <!--<a href="/faq/">FAQs</a>-->
            <a href="/resources/">Resources</a>
            <a href="/guideline1/">Guideline</a>
		  </div>
        
        <section class="wrapper style2 align-center"><h1>About Us</h1></section>
        <section class="wrapper style1 align-center">
            <div class="inner">
                <div class="items style1 medium onscroll-fade-in">
                    <section>
                        <span class="icon solid style2 major fa-bolt"></span>
                        <h3>What  Inspired  Us?</h3>
                        <p>During the lockdown period, we realised that not everyone has the chance to obtain one-to-one guidance from teachers on topics that they may struggle with.</p>
                    </section>
                    <section>
                        <span class="icon style2 major fa-paper-plane"></span>
                        <h3>Our  Aim</h3>
                        <p>We aim to help students who are currently struggling with their academics due to the disruption of classes and lack of access to affordable tuition classes during this challenging time.</p>
                    </section>
                    <section>
                        <span class="icon solid style2 major fa-cog"></span>
                        <h3>Who  Are  We?</h3>
                        <p>We are a team of Malaysian youths hoping to help SPM students to achieve their best.</p>
                    </section>
                </div>
            </div>
        </section>
        <section class="wrapper style2 align-center">
            <div class ="inner">
            <h1>How It Works?</h1> 
            <br>
            <div class = "content">
                <h3>Who can apply as tutee?</h3>
                <div class = "box"> 
                    <p>SPM students (Form 5 will be prioritised)</p>
                </div>
                <h3>How many subjects can I sign up for as a tutee?</h3>
                <div class = "box"> 
                    <p>As many as you wish to (provided we have tutors to allocate for you)</p>
                </div>
                <h3>Who can apply as a tutor?</h3>
                <div class = "box"> 
                    <p>SPM graduate with a minimum grade of A- scored in the subject tutored. </p>
                    <p>(Note: If you are from other high school syllabus such as IGCSE, you are also welcomed but please be aware that you will be required to tutor based on SPM syllabus)</p>
                </div>
                <h3>
                    What does a tutor do?</h3>
                <div class = "box"> 
                    <p>Delivers online lessons to paired tutee(s) based on the subjects and chapters chosen. </p>
                </div>
                <h3>
                    How long is the commitment period for both tutors and tutees?</h3>
                <div class = "box"> 
                    <p>Every pair will need to carry out at least 4 lessons, and you can choose to continue or leave afterwards. If your paired tutor/tutee leaves, you will be found a new pair. </p>
                </div>
                <h3>
                    How do I prepare for my lessons? Where can I get resources from? </h3>
                <div class = "box"> 
                    <p>Worry not! We have specially curated resources for most of the SPM subjects, and you can utilise them for any of your lessons!</p>
                </div>
                <h3>
                    How long would a lesson usually last and how frequent would it be?</h3>
                <div class = "box"> 
                    <p>This depends on how the tutor and tutee decide, but generally 1 to 2 hours per week.</p>
                </div>
            </div>
        </div>
        </section>

        <section class="wrapper style1 align-center">
            <div class="inner">
                <h2>The Committee</h2>
            </div>
            <!-- Gallery -->
                <div class="gallery style2 medium lightbox onscroll-fade-in">
                    <article>
                        <a href="/assets/images/gallery/Committee pics 2023 term 1/ChloeYeo.png" class="image">
                        <picture>
                            <source srcset="/assets/images/gallery/Committee pics 2023 term 1/ChloeYeo.webp" type="image/webp">
                            <source srcset="/assets/images/gallery/Committee pics 2023 term 1/ChloeYeo.png" type="image/png">
                            <img src="/assets/images/gallery/Committee pics 2023 term 1/ChloeYeo.png" alt="Chloe Yeo">
                        </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Chloe Yeo</b></h3>
                            <p>Co-Founder</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/Committee pics 2023 term 1/MeiLin.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/MeiLin.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/MeiLin.png" type="image/png">
                                <img src="/assets/images/gallery/Committee pics 2023 term 1/MeiLin.png" alt="Mei Lin">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Mei Lin</b></h3>
                            <p>Co-Founder</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/Committee pics 2023 term 1/Daphne Yeo.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Daphne Yeo.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Daphne Yeo.png" type="image/png">
                                <img src="/assets/images/gallery/Committee pics 2023 term 1/Daphne Yeo.png" alt="Daphne Yeo">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Daphne Yeo</b></h3>
                            <p>Co-Executive Director</p>
                            <p>"Everyday it gets a little easier… but you gotta do it everyday - that's the hard part. But it does get easier."</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/Committee pics 2023 term 1/Chiang Ru.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Chiang Ru.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Chiang Ru.png" type="image/png">
                                <img src="/assets/images/gallery/Committee pics 2023 term 1/Chiang Ru.png" alt="Chiang Ru">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Chiang Ru</b></h3>
                            <p>Co-Executive Director</p>
                            <p>"Sometimes I feel like giving up but I just can't, it isn't in my blood."</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/Committee pics 2023 term 1/Jia Yi.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Jia Yi.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Jia Yi.png" type="image/png">
                                <img src="/assets/images/gallery/Committee pics 2023 term 1/Jia Yi.png" alt="Jia Yi">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Jia Yi</b></h3>
                            <p>Internal and External Affairs Officer</p>
                            <p>"You only live once, so I try to say yes to everything."</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/Committee pics 2023 term 1/Seong Ming Yin.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Seong Ming Yin.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Seong Ming Yin.png" type="image/png">
                                <img src="/assets/images/gallery/Committee pics 2023 term 1/Seong Ming Yin.png" alt="Seong Ming Yin">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Seong Ming Yin</b></h3>
                            <p>Resource Director</p>
                            <p>"Follow your passion and be prepared to work hard."</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article> 
                    <article>
                        <a href="/assets/images/gallery/Committee pics 2023 term 1/Amelia.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Amelia.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Amelia.png" type="image/png">
                                <img src="/assets/images/gallery/Committee pics 2023 term 1/Amelia.png" alt="Amelia">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Amelia</b></h3>
                            <p>Resource Executive</p>
                            <p>"Don't stress. Do your best. Forget the rest."</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/Committee pics 2023 term 1/Wong Yee Chin.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Wong Yee Chin.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Wong Yee Chin.png" type="image/png">
                                <img src="/assets/images/gallery/Committee pics 2023 term 1/Wong Yee Chin.png" alt="Wong Yee Chin">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Wong Yee Chin</b></h3>
                            <p>Resource Executive</p>
                            <p>"Every chapter of life has its own beauty."</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/Committee pics 2023 term 1/Ivy Wee.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Ivy Wee.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Ivy Wee.png" type="image/png">
                                <img src="/assets/images/gallery/Committee pics 2023 term 1/Ivy Wee.png" alt="Ivy Wee">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Ivy Wee</b></h3>
                            <p>Resource Executive</p>
                            <p>"Strive for excellence."</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/Committee pics 2023 term 1/Pua Tian En.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Pua Tian En.webp" type="image/webp">
                                <source srcset="/assets/images/galleryCommittee pics 2023 term 1/Pua Tian En.png" type="image/png">
                                <img src="/assets/images/gallery/Committee pics 2023 term 1/Pua Tian En.png" alt="Pua Tian En">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Pua Tian En</b></h3>
                            <p>Resource Executive</p>
                            <p>"Hope can set you free."</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/Committee pics 2023 term 1/Yong Han Wen.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Yong Han Wen.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Yong Han Wen.png" type="image/png">
                                <img src="/assets/images/gallery/Committee pics 2023 term 1/Yong Han Wen.png" alt="Yong Han Wen">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Yong Han Wen</b></h3>
                            <p>Resource Executive</p>
                            <p>"Do not fear failure but rather fear not trying."</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/Committee pics 2023 term 1/Anoushka Rajendran.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Anoushka Rajendran.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Anoushka Rajendran.png" type="image/png">
                                <img src="/assets/images/gallery/Committee pics 2023 term 1/Anoushka Rajendran.png" alt="Anoushka Rajendran">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Anoushka Rajendran</b></h3>
                            <p>Publicity Director</p>
                            <p>"If you cannot do great things, do small things in a great way."</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/Committee pics 2023 term 1/Shuen Low.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Shuen Low.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Shuen Low.png" type="image/png">
                                <img src="/assets/images/gallery/Committee pics 2023 term 1/Shuen Low.png" alt="Shuen Low">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Shuen Low</b></h3>
                            <p>Publicity Executive</p>
                            <p>"Plan the work, work the plan."</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/Committee pics 2023 term 1/Alyssa Lee Xin Yi.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Alyssa Lee Xin Yi.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Alyssa Lee Xin Yi.png" type="image/png">
                                <img src="/assets/images/gallery/Committee pics 2023 term 1/Alyssa Lee Xin Yi.png" alt="Alyssa Lee Xin Yi">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Alyssa Lee Xin Yi</b></h3>
                            <p>Publicity Executive</p>
                            <p>"Bloom your smile flower!"</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/Committee pics 2023 term 1/Mohamad Nur Iqmal.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Mohamad Nur Iqmal.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Mohamad Nur Iqmal.png" type="image/png">
                                <img src="/assets/images/gallery/Committee pics 2023 term 1/Mohamad Nur Iqmal.png" alt="Mohamad Nur Iqmal">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Mohamad Nur Iqmal</b></h3>
                            <p>Publicity Executive</p>
                            <p>"Be the sunshine on a gloomy day."</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/Committee pics 2023 term 1/Anishapraveen.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Anishapraveen.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Anishapraveen.png" type="image/png">
                                <img src="/assets/images/gallery/Committee pics 2023 term 1/Anishapraveen.png" alt="Anisha Praveen">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Anisha Praveen</b></h3>
                            <p>Welfare Director</p>
                            <p>"Be the master of your minutes."</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/Committee pics 2023 term 1/Tiffany.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Tiffany.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Tiffany.png" type="image/png">
                                <img src="/assets/images/gallery/Committee pics 2023 term 1/Tiffany.png" alt="Tiffany">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Tiffany</b></h3>
                            <p>Welfare Executive</p>
                            <p>"Anything is possible if you want it bad enough."</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/Committee pics 2023 term 1/Dhiya Farhanah.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Dhiya Farhanah.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/Committee pics 2023 term 1/Dhiya Farhanah.png" type="image/png">
                                <img src="/assets/images/gallery/Committee pics 2023 term 1/Dhiya Farhanah.png" alt="Dhiya Farhanah">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3><b>Dhiya Farhanah</b></h3>
                            <p>Welfare Executive</p>
                            <p>"This too shall pass."</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                    
                </div>

        </section>
        <footer class="wrapper style1 align-center">
            <div class="inner">
                <ul class="icons">
                    <li><a href="https://www.instagram.com/tutors.in.action/" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="https://tutors-in-action.org/discord" target="_blank" rel="noopener noreferrer" class="icon brands style2 fa-discord"><span class="label">Discord</span></a></li>
                    <!--<li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="#" class="icon brands style2 fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                    <li><a href="#" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>-->
                </ul>
                <p>Persatuan Pelajar Bantu Pelajar Malaysia (PPM-007-14-12102022) © 2023, All rights reserved.</p>
            </div>
        </footer>
        <script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>t
    </body>
</html>