<!DOCTYPE HTML>
<html>
    <head>
		<title>Tutors In Action</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="/assets/css/nav.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
		<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
	</head>
	<body class="is-preload">

        <div class="topnav align-center" id="myTopnav">
			<a href="/">Home</a>
			<a href="/impact/">Impact</a>
			<a href="/about/">About</a>
            <a href="/contact/">Contact</a>
            <a href="/faq/" class="active">FAQs</a>
		</div>

        <section class="wrapper style2 align-center"><h1>Frequently Asked Question</h1></section>
        <!--PLAN
        Animated circles with - Number of tutors - Number of tutee - Total of hours
        
        Feedback

        

        
        
        -->
        {% include footer.html %}
        <script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>
    </body>
</html>