<!DOCTYPE HTML>
<html>
	<head>
		<title>Tutors In Action</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<link rel="stylesheet" href="/assets/css/nav.css" />
		<link rel="stylesheet" href="/assets/css/resources.css">
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
		<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
	</head>
	<body class="is-preload">

		<div class="topnav align-center">
			<a href="/" >Home</a>
			<!--<a href="/impact/">Impact</a>-->
			<a href="/about/">About</a>
			<a href="/contact/">Contact</a>
			<!--<a href="/faq/">FAQs</a>-->
			<a href="/resources/" >Resources </a>
      <a href="/guideline1/"  class="active">Guideline </a>
		  </div>

    <section class="wrapper style2 align-center"><h1>Know Each Department</h1></section>
	
		<section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
			<div class="content">
				<h2>Executive Director</h2>
				<ul class="actions stacked">
					<li> <a href="/assets/guideline/Executive_Director.pdf" target="_blank" rel="noopener noreferrer" class="button">Find Out More</a></li>
				</ul>
			</div>
			<div class="image">
				<picture>
					<source srcset="/assets/guideline/Executive Director.webp" type="image/webp">
					<source srcset="/assets/guideline/Executive Director.png" type="image/png">
					<img src="/assets/guideline/Executive Director.png" alt="Operation">
				</picture>
			</div>
		</section>

				  <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in" id="first">
						<div class="content">
							<h2>Operation Department</h2>
							<ul class="actions stacked">
								<li> <a href="/assets/guideline/Operations.pdf" target="_blank" rel="noopener noreferrer" class="button">Find Out More</a></li>
							</ul>
						</div>
						<div class="image">
							<picture>
								<source srcset="/assets/guideline/Operation.webp" type="image/webp">
								<source srcset="/assets/guideline/Operation.png" type="image/png">
								<img src="/assets/guideline/Operations.png" alt="Operation">
							</picture>
						</div>
					</section>

          <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
						<div class="content">
							<h2>Outreach Department</h2>
							<ul class="actions stacked">
								<li> <a href="/assets/guideline/Outreach.pdf" target="_blank" rel="noopener noreferrer" class="button">Find Out More</a></li>
							</ul>
						</div>
						<div class="image">
							<picture>
								<source srcset="/assets/guideline/Outreach.webp" type="image/webp">
								<source srcset="/assets/guideline/Outreach.png" type="image/png">
								<img src="/assets/guideline/Outreach.png" alt="Outreach">
							</picture>
						</div>
					</section>

          <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in" id="first">
						<div class="content">
							<h2>Publicity Department</h2>
							<ul class="actions stacked">
								<li> <a href="/assets/guideline/Publicity.pdf" target="_blank" rel="noopener noreferrer" class="button">Find Out More</a></li>
							</ul>
						</div>
						<div class="image">
							<picture>
								<source srcset="/assets/guideline/Publicity.webp" type="image/webp">
								<source srcset="/assets/guideline/Publicity.png" type="image/png">
								<img src="/assets/guideline/Publicity.png" alt="Publicity">
							</picture>
						</div>
					</section>

          <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
						<div class="content">
							<h2>Resource Department</h2>
							<ul class="actions stacked">
								<li> <a href="/assets/guideline/Resource.pdf" target="_blank" rel="noopener noreferrer" class="button">Find Out More</a></li>
							</ul>
						</div>
						<div class="image">
							<picture>
								<source srcset="/assets/guideline/Resource.webp" type="image/webp">
								<source srcset="/assets/guideline/Resource.png" type="image/png">
								<img src="/assets/guideline/Resource.png" alt="Resource">
							</picture>
						</div>
					</section>
				
          <section class="spotlight style1 orient-left content-align-left image-position-center onscroll-image-fade-in" id="first">
						<div class="content">
							<h2>Technical Department</h2>
							<ul class="actions stacked">
								<li> <a href="/assets/guideline/Tech.pdf" target="_blank" rel="noopener noreferrer" class="button">Find Out More</a></li>
							</ul>
						</div>
						<div class="image">
							<picture>
								<source srcset="/assets/guideline/Tech.webp" type="image/webp">
								<source srcset="/assets/guideline/Tech.png" type="image/png">
								<img src="/assets/guideline/Tech.png" alt="Resource">
							</picture>
						</div>
					</section>

          <section class="spotlight style1 orient-right content-align-left image-position-center onscroll-image-fade-in" id="first">
						<div class="content">
							<h2>Welfare Department</h2>
							<ul class="actions stacked">
								<li> <a href="/assets/guideline/Welfare.pdf" target="_blank" rel="noopener noreferrer" class="button">Find Out More</a></li>
							</ul>
						</div>
						<div class="image">
							<picture>
								<source srcset="/assets/guideline/Welfare.webp" type="image/webp">
								<source srcset="/assets/guideline/Welfare.png" type="image/png">
								<img src="/assets/guideline/Welfare.png" alt="Welfare">
							</picture>
						</div>
					</section>

					<footer class="wrapper style1 align-center">
						<div class="inner">
							<ul class="icons">
								<li><a href="https://www.instagram.com/tutors.in.action/" target="_blank" rel="noopener noreferrer" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
								<li><a href="https://tutors-in-action.org/discord" target="_blank" rel="noopener noreferrer" class="icon brands style2 fa-discord"><span class="label">Discord</span></a></li>
								<!--<li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
								<li><a href="#" class="icon brands style2 fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
								<li><a href="#" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>-->
							</ul>
							<p>Tutors In Action Malaysia (PPM-XXXX) © 2022, All rights reserved.</p>
						</div>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

	</body>
</html>