<!DOCTYPE HTML>
<html>
    <head>
		<title>Tutors In Action</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="/assets/css/nav.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
		<link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
	</head>
	<body class="is-preload">

        <div class="topnav align-center" id="myTopnav">
			<a href="/">Home</a>
			<!--<a href="/impact/" class="active">Impact</a>-->
			<a href="/about/">About</a>
            <a href="/contact/">Contact</a>
            <!--<a href="/faq/">FAQs</a>-->
		</div>

        <section class="wrapper style2 align-center"><h1>Our Impact</h1></section>
        
        <section class="wrapper style1 align-center">
            <div class="inner">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eu augue sit amet nisi aliquam tincidunt. Aliquam nec justo pellentesque, tempus erat quis, bibendum risus. Suspendisse eget dui id ex maximus scelerisque id id eros. Phasellus pharetra ex justo. Donec tristique orci at mauris efficitur, sed blandit est tincidunt. Pellentesque consequat fringilla augue vel rutrum. Sed fermentum quam placerat lorem tincidunt elementum. Aliquam blandit aliquam tincidunt. Nam viverra ipsum leo, sit amet fringilla arcu lacinia vitae. Proin sed nunc id turpis tristique sollicitudin. Suspendisse aliquet pulvinar sapien, eu feugiat metus. Aenean leo est, ultrices at ultricies tincidunt, suscipit ac est. Curabitur tortor dolor, malesuada ut risus at, bibendum lobortis purus.</p>
            </div>
        </section> 

        <section class="wrapper style2 align-center"><br><br>
<div class = "inner"> 
	<div class=" f1"><h2> Throughout  June 21'  -  July 22'  Terms</h2></div> 
    Every participation from tutors and tutees are very appreaciated toward our aim of providing hours of classes throughout the terms. <br>
    Following are the data we have collected within the terms.
			</div>
            
            <br>
            <div class = "inner style1 onscroll-content-fade-in row content-align-center"> 
            
            <div class = "col content-align-center">
                Number of Tutors <br>
                <br>
                <div class = "progressbar">
                <div class = "pbouter">
                    <div class = "pbinner">
                        <div id="number">
                            <h3 data-target = "1500", class="count">0</h3>
                        </div>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                    <defs>
                       <linearGradient id="GradientColor">
                          <stop offset="0%" stop-color="#c3e1d7" />
                          <stop offset="100%" stop-color="#097276" />
                       </linearGradient>
                    </defs>
                    <circle cx="80" cy="80" r="70" stroke-linecap="round" />
              </svg>
              </div>
            </div>
            
        
            <div class = "col">
                Number of Tutee<br>
                <br>
                
            <div class = "progressbar">
                <div class = "pbouter">
                    <div class = "pbinner">
                        <div id="number">
                            <h3 data-target = "50000", class="count">0</h3>
                        </div>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                    <defs>
                       <linearGradient id="GradientColor">
                          <stop offset="0%" stop-color="#c3e1d7" />
                          <stop offset="100%" stop-color="#097276" />
                       </linearGradient>
                    </defs>
                    <circle cx="80" cy="80" r="70" stroke-linecap="round" />
            </svg>
            </div>
            </div>

            <div class = "col">
                Number of Hours<br>
                <br>
            <div class = "progressbar">
                <div class = "pbouter">
                    <div class = "pbinner">
                        <div id="number">
                            <h3 data-target = "10000", class="count">0</h3>
                        </div>
                    </div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="160px" height="160px">
                    <defs>
                       <linearGradient id="GradientColor">
                          <stop offset="0%" stop-color="#c3e1d7" />
                          <stop offset="100%" stop-color="#097276" />
                       </linearGradient>
                    </defs>
                    <circle cx="80" cy="80" r="70" stroke-linecap="round" />
            </svg>
            </div>
            </div>
        </div>
        

        </section>
        
        <section>
            <div class="wrapper style1 align-center">
                <div class="inner">
                    <h2>The Hall of Fame</h2> 
                </div>
                <div class="gallery style2 medium lightbox onscroll-fade-in">
                    <article>
                        <a href="/assets/images/gallery/fulls/hof1.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/thumbs/hof1.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/thumbs/hof1.png" type="image/png">
                                <img src="/assets/images/gallery/thumbs/hof1.png" alt="Hall of Fame 1">
                            </picture>
                        </a>
                        <div class="caption">
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/hof2.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/thumbs/hof2.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/thumbs/hof2.png" type="image/png">
                                <img src="/assets/images/gallery/thumbs/hof2.png" alt="Hall of Fame 2">
                            </picture>
                        </a>
                        <div class="caption">
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/hof3.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/thumbs/hof3.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/thumbs/hof3.png" type="image/png">
                                <img src="/assets/images/gallery/thumbs/hof3.png" alt="Hall of Fame 3">
                            </picture>
                        </a>
                        <div class="caption">
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/hof4.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/thumbs/hof4.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/thumbs/hof4.png" type="image/png">
                                <img src="/assets/images/gallery/thumbs/hof4.png" alt="Hall of Fame 4">
                            </picture>
                        </a>
                        <div class="caption">
                        </div>
                    </article>
                    <article>
                        <a href="/assets/images/gallery/fulls/hof5.png" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/thumbs/hof5.webp" type="image/webp">
                                <source srcset="/assets/images/gallery/thumbs/hof5.png" type="image/png">
                                <img src="/assets/images/gallery/thumbs/hof2.png" alt="Hall of Fame 5">
                            </picture>
                        </a>
                        <div class="caption">
                        </div>
                    </article>
                </div>
            </div>
        </section>
        <section>
            <div class="wrapper style1 align-center">
                <div class="inner">
                    <h2>Tutor Testimony</h2> 
                </div>
                <div class="gallery style2 medium lightbox onscroll-fade-in">
                    <article>
                        <a href="/assets/images/gallery/fulls/01.jpg" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/thumbs/01.jpg" type="image/png">
                                <img src="/assets/images/gallery/thumbs/01.png" alt="Venessa">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3>TEST<b></b></h3>
                            <p>TEST</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
        </section>
        
        <section>
            <div class="wrapper style1 align-center">
                <div class="inner">
                    <h2>Tutee Feedback</h2> 
                </div>
                <div class="gallery style2 medium lightbox onscroll-fade-in">
                    <article>
                        <a href="/assets/images/gallery/fulls/01.jpg" class="image">
                            <picture>
                                <source srcset="/assets/images/gallery/thumbs/01.jpg" type="image/png">
                                <img src="/assets/images/gallery/thumbs/01.png" alt="Venessa">
                            </picture>
                        </a>
                        <div class="caption">
                            <h3>TEST<b></b></h3>
                            <p>TEST</p>
                            <ul class="actions fixed">
                                <li><span class="button small">Details</span></li>
                            </ul>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        
        
        <!--PLAN
        Animated circles with - Number of tutors - Number of tutee - Total of hours
        
        Feedback Stuff


        
        
        -->

        
        {% include footer.html %}
        <script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>
            <script>const counters = document.querySelectorAll('.count');
                const speed = 400;
                
                counters.forEach((number) => {
                  const updateCount = () => {
                    const target = parseInt(number.getAttribute('data-target'));
                    const count = parseInt(number.innerText);
                    const increment = Math.trunc(target / speed);
                
                    if (count < target) {
                      number.innerText = count + increment;
                      setTimeout(updateCount, 1);
                    } else {
                      number.innerText = target;
                    }
                  };
                  updateCount();
                });
                            </script>
    </body>
</html>
