<!DOCTYPE HTML>
<html>
    <head>
		<title>Tutors In Action</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="/assets/css/nav.css" />
        <link rel="stylesheet" href="/assets/css/resources.css">
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
		<link rel="shortcut icon" type="image/png" href="/assets/images/tia_ppbpm_favicon.png">

        <style>
            /* Add your CSS styles here for styling the privacy policy page */
    
            .container {
                width: 80%;
                margin: 0 auto;
                padding: 20px;
                /* background-color: #fff; */
            }
    
            .container h1 {
                margin-bottom: 20px;
            }
    
            .container p {
                margin-bottom: 10px;
            }

            .container ol {
                list-style-type: none;
                counter-reset: item;
                margin: 0;
                padding: 0;
            }

            .container ol > li {
                display: table;
                counter-increment: item;
                margin-bottom: 1.2em;
            }

            .container ol > li:before {
                content: counters(item, ".") ". ";
                display: table-cell;
                padding-right: 0.6em;    
            }

            .container li ol > li {
                margin: 0;
            }

            .container li ol > li:before {
                content: counters(item, ".") " ";
            }
    
            /* Add more styles as needed */
        </style>

	</head>
	<body class="is-preload">

        <div class="topnav align-center" id="myTopnav">
			<a href="/">Home</a>
			<!--<a href="/impact/">Impact</a>-->
			<a href="/about/">About</a>
            <a href="/contact/">Contact</a>
            <!--<a href="/faq/">FAQs</a>-->
            <a href="/resources/">Resources</a>
            <!--<a href="/resources/">Resources</a>-->
            <a href="/guideline1/">Guideline</a>
		</div>

        <!-- <section class="wrapper style2 align-center">
            <h1>Privacy Policy</h1>
        </section> -->
        <div class="container">
            <h1 style="font-weight: 300;">Privacy Policy</h1>
            <!-- <p>This is the introduction to your privacy policy.</p> -->
    
            <h3 style="font-weight: 400;">Foreword</h3>
            <!-- <p>This is the introduction to your privacy policy.</p> -->
    
            <p>Tutors In Action Malaysia (“<strong>TIA</strong>”, “<strong>we</strong>”, “<strong>us</strong>” or “<strong>our</strong>”) is a youth-led organisation registered under
                Jabatan Pendaftaran Pertubuhan Malaysia (JPPM) as Persatuan Pelajar Bantu Pelajar Malaysia.
            </p>
            
            <br>
            
            <p>
                TIA provides free online tutoring services to SPM students in need - in line with our mission of upholding
                the United Nations’ 4th Sustainable Development Goal: Quality Education (“<strong>main project</strong>”). As we
                expand and reach greater heights, we have been and will continue branching out to encompass more
                underprivileged and underserved communities by planning and executing fundraisers, workshops and the
                like (“<strong>side projects</strong>”)
            </p>

            <br>

            <p>
                Whether it is to facilitate operations of our main project or to enable execution of our side projects, there
                have been and will be occasions in which collection, use and/or disclosure of personal information are
                required, by conduct or by statute. TIA strives to ensure you are aware of your rights in relation to
                personal data and shall thus make informed decisions on whether to provide said data to us.
            </p>

            <br>

            <p>
                This privacy notice (“<strong>Privacy Policy</strong>”) describes how we collect and use your personal information. We
                take your privacy seriously and we will only collect, record, hold, store, disclose, transfer and use your
                personal information as outlined below. We shall therefore only use your name and data in the manner set
                out in this Privacy Policy. We will only collect information if it is relevant to our dealings with you and
                keep said for as long as we are either required to by law or as is relevant for the purposes for which it was
                collected. For the purpose of clarity, we hereafter define the following terms to be used throughout this
                Privacy Policy.
            </p>

            <br>

            <p>
                “<strong>Services</strong>” refers to services provided by TIA under our main tutoring project and side/special/short-term
                projects (fundraisers, workshops, etc.). Services include but are not limited to management of tutor-tutee
                pairings, handling of back-end operations, and tutor and tutee welfare.
            </p>

            <br>

            <p>
                “<strong>Registration Form</strong>” refers collectively or individually to TIA’s registration form(s) on TIA’s official
                website, and is currently the sole authorised platform for registration as a tutor or tutee under TIA.
            </p>

            <br>

            <p>
                “<strong>Tutor</strong>” refers to an individual currently registered under TIA as a volunteer tutor via our Registration
                Form, having completed all registration formalities including acknowledgement of the Tutor Safeguarding
                Document. An individual who has ceased his or her working relationship with TIA as a volunteer tutor
                due to termination of Services by said individual and/or by TIA (as a result of the ex-tutor’s misconduct
                or otherwise), whether temporary or permanent, is not considered a tutor unless the working relationship
                is rekindled or resumed with TIA’s authorisation and consent.
            </p>

            <br>

            <p>
                “<strong>Tutee</strong>” refers to an individual currently registered under TIA as a tutee via our Registration Form,
                having completed all registration formalities including acknowledgement of the Tutee Safeguarding
                Document. An individual who has ceased his or her working relationship with TIA as a tutee due to
                termination of Services by said individual and/or by TIA (as a result of the ex-tutee’s misconduct or
                otherwise), whether temporary or permanent, is not considered a tutee unless the working relationship is
                rekindled or resumed with TIA’s authorisation and consent.
            </p>

            <br>

            <p>
                “<strong>Tutor Safeguarding Document</strong>” refers to an official document curated by TIA pertaining to
                safeguarding policies that ought to be adhered to by tutors. In order to complete registration formalities to
                be paired with a tutee(s), a tutor must acknowledge and consent to the policies detailed in this document
            </p>

            <br>

            <p>
                “<strong>Tutee Safeguarding Document</strong>” refers to an official document curated by TIA pertaining to
                safeguarding policies that ought to be adhered to by tutees. In order to complete registration formalities to
                be paired with a tutor(s), a tutee must acknowledge and consent to the policies detailed in this document.
            </p>

            <br>

            <p>
                <ol>
                    <li>Collection of Personal Information
                        <br>
                        <ol>
                            <li>When signing up as a tutor and/or tutee with TIA thereby providing us with your personal
                                information via our Registration Form, the personal information we collect may include
                                your:
                                <br>
                                <ol>
                                    <li>Email address;</li>
                                    <li>Name;</li>
                                    <li>Mobile number;</li>
                                    <li>Past or current educational institution;</li>
                                    <li>Proof of current identity; and/or</li>
                                    <li>Range of monthly income.
                                        <br>
                                        (“hereinafter collectively referred to as “<strong>Personal Information</strong>”)
                                    </li>
                                </ol>
                            </li>
                            <li>
                                You must only submit to us information which is accurate, complete and not misleading.
                                You must keep the same up to date and inform us of any changes. We reserve the right to
                                request for documentation to verify the information provided by you.
                            </li>
                            <li>
                                We will only be able to collect your Personal Information if you voluntarily submit the
                                information to us
                            </li>
                            <li>
                                If you choose not to submit your Personal Information to us or subsequently withdraw
                                your consent to our use of your Personal Information, we may not be able to provide you
                                with our Services. You may access and update your Personal Information submitted to us
                                at any time as described below (refer to Clause 4).
                            </li>
                            <li>
                                If you provide personal information of any third party to us, we assume that you have
                                obtained the required consent from the relevant third party to share said personal
                                information with us
                            </li>
                        </ol>
                    </li>
                    <li>Use/Disclosure of Personal Information
                        <ol>
                            <li>TIA may use the collected Personal Information for various purposes, such as but not
                                limited to:
                                <ol>
                                    <li>To register you as our tutor or tutee;</li>
                                    <li>To facilitate our tutors’ or tutees’ use of our Services;</li>
                                    <li>To compare and verify information to ensure accuracy and authenticity;</li>
                                    <li>To contact our tutors or tutees in regards to the Services they partake in; and</li>
                                    <li>In exceptional cases TIA may be required to disclose Personal Information if
                                        there are grounds to believe that such disclosure is necessary to prevent a threat
                                        to any of the parties involved or for law enforcement purposes.</li>
                                </ol>
                            </li>
                            <li>TIA does not engage in the business of selling submitted Personal Information to third
                                parties</li>
                        </ol>
                    </li>
                    <li>Withdrawal of Consent
                        <ol>
                            <li>In the case of sudden disapproval of the continual use and/or disclosure of your Personal
                                Information, you may contact TIA (refer to Clause 10).</li>
                            <li>Should you decide to communicate such disapproval of use and/or disclosure of your
                                Personal Information as stipulated in 3.1 above, TIA will no longer be obligated to
                                provide our Services to uphold the terms and conditions of our Tutor Safeguarding
                                Document and/or Tutee Safeguarding Document (hereinafter collectively referred to as
                                “<strong>Safeguarding Documents</strong>”).</li>
                            <li>Upon withdrawal of consent to our collection, use and/or disclosure of your Personal
                                Information, you may request for erasure of such data from our database.
                                </li>
                        </ol>
                    </li>
                    <li>Updating/Accessing Personal Information
                        <ol>
                            <li>Your Personal Information can be accessed or updated at any time by contacting TIA
                                (refer to Clause 10).</li>
                            <li>Tutors and tutees reserve the right to view any and all Personal Information obtained by
                                TIA in relation to themselves and enquire about the ways in which the Personal
                                Information has been used.
                                </li>
                        </ol>
                    </li>
                    <li>Security of Personal Information
                        <ol>
                            <li>TIA guarantees that all Personal Information obtained by us will be safely stored and
                                secured by means of:
                                <ol>
                                    <li>Restricting unauthorised access to the Personal Information; and/or</li>
                                    <li>Securely destroying Personal Information when it is no longer needed for our
                                        operational purposes.
                                        </li>
                                </ol>
                            </li>
                            <li>TIA is not liable for any leaks in any information which has been submitted via
                                unauthorised channels, i.e. not via our Registration Forms or not through authorised
                                contact (such as e-mail) with TIA.
                                </li>
                            <li>In the event that you as our tutor or tutee believe that your privacy has been breached,
                                you are urged to contact us immediately via e-mail (refer to Clause 10).
                                </li>
                        </ol>
                    </li>
                    <li>Collection of Computer Data
                        <ol>
                            <li>TIA may use cookies, web beacons, and other similar technologies for storing
                                information to help provide you with a faster, safer and personalised experience when
                                you use our services or access our website. This data may include:
                                <ol>
                                    <li>Your computer's IP address;</li>
                                    <li>Browser type;</li>
                                    <li>The pages within the website which you visit; and</li>
                                    <li>The time spent on those pages, access times and dates, and other statistics</li>
                                </ol>
                            </li>
                            <li> This information is collected for analysis and evaluation in order to help us improve our
                                website and the Services we provide.
                            </li>
                            <li>Cookies are text files (typically made up of letters and numbers) with small pieces of data
                                that allow us to recognise a particular device or browser and help us to personalise our
                                content and make our Services and website more convenient and useful to you</li>
                            <li>Web beacons are tiny graphic images that may be included on our website. They allow us
                                to monitor your interactions with our website so we can better understand your interests.
                                </li>
                        </ol>
                    </li>
                    <li>No Spam, Spyware or Virus
                        <ol>
                            <li>Spam, spyware or virus is not allowed on our website. Please set and maintain your
                                communication preferences so that we send communications to you as you prefer. You
                                should not send any messages which contain spam, spyware or virus via the website.
                                </li>
                            <li>If you would like to report any suspicious messages, please contact us at our e-mail
                                address (refer to Clause 10).
                                </li>
                        </ol>
                    </li>
                    <li>Changes to Privacy Policy
                        <ol>
                            <li>TIA shall regularly review the sufficiency of this Privacy Policy. We reserve the right to
                                modify and change the Privacy Policy at any time. Any changes to this policy will be
                                published on our website.</li>
                        </ol>
                    </li>
                    <li>Organisational Rights
                        <ol>
                            <li>You acknowledge and agree that TIA has the right to disclose your Personal Information
                                to any legal, regulatory, governmental, tax, law enforcement and any other authorities if
                                TIA has reasonable grounds to believe that disclosure of your Personal Information is
                                necessary for the purpose of meeting any obligations, requirements or arrangements,
                                whether voluntary or mandatory, as a result of cooperating with an order, an investigation
                                and/or a request of any nature by such parties. To the extent permissible by applicable
                                law, you agree to not take any action and/or waive your rights to take any action against
                                TIA for the disclosure of your Personal Information in these circumstances.</li>
                        </ol>
                    </li>
                    <li>Contacting TIA
                        <ol>
                            <li>If you wish to withdraw your consent to our use of your Personal Information, request
                                access and/or correction of your Personal Information, have any queries, concerns or
                                require any help on technical or cookie-related matters, please feel free to contact us via
                                our e-mail address (<a>tutors.in.action.malaysia@gmail.com</a>).
                                </li>
                            <li>Alternatively, we can also be contacted via our official Instagram account
                                (@tutors.in.action).</li>
                        </ol>
                    </li>
                </ol>
            </p>
    
            <!-- <h2>How We Use Information</h2>
            <p>Describe how you use the collected information.</p>
    
            <h2>Sharing of Information</h2>
            <p>Explain if and how you share user information with third parties.</p>
    
            <h2>Security</h2>
            <p>Describe the security measures you have in place to protect user data.</p>
    
            <h2>Changes to this Privacy Policy</h2>
            <p>Explain how you will notify users of changes to the privacy policy.</p>
    
            <h2>Contact Us</h2>
            <p>Provide contact information for privacy-related inquiries.</p> -->
        </div>



            {% include footer.html %}
            
        <script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>
    </body>
</html>
