<!DOCTYPE HTML>
<html>
    <head>
		<title>Tutors In Action</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
        <link rel="stylesheet" href="/assets/css/nav.css" />
        <link rel="stylesheet" href="/assets/css/resources.css">
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
		<link rel="shortcut icon" type="image/png" href="/assets/images/tia_ppbpm_favicon.png">
	</head>
	<body class="is-preload">

        <div class="topnav align-center" id="myTopnav">
			<a href="/">Home</a>
			<!--<a href="/impact/">Impact</a>-->
			<a href="/about/">About</a>
            <a href="/contact/">Contact</a>
            <!--<a href="/faq/">FAQs</a>-->
            <a href="/resources/" class= "active">Resources</a>
            <!--<a href="/resources/">Resources</a>-->
            <a href="/guideline1/">Guideline</a>
		</div>

        <section class="wrapper style2 align-center"><h1>Check on our Resources.</h1></section>

        <section class="wrapper style1 align-center">
            <section class="wrapper style1 align-center">
                <div class="inner">
                    <div class="items style1 medium onscroll-fade-in">
                        <section>
                            
                            <section class="subjectsodd">
                                <div>
                                   <h2 style="font-weight: bold;"> BAHASA MELAYU </h2>
                                </div>
                                <div>
                                    <a class="button" href="https://drive.google.com/drive/folders/1kUmkYfC4lv7OKoyF9rWB-wi6dN3U_psq?usp=share_link">Koleksi Nota</a>      
                                 </div>
                                     
                                 <div>
                                    <a class="button" href="https://drive.google.com/drive/folders/12uWNl93oUKBjoGN9aeLQ9K5yVZV0QRYs?usp=share_link">Latihan</a>      
                                 </div>
                            </section>
                            <section class="subjectseven">
                                <div>
                                   <h2 style="font-weight: bold;"> ENGLISH </h2>
                                </div>
                                <div>
                                    <a class="button" href="https://drive.google.com/drive/folders/1yjMOeKLkpcAQB7_zBwnLQ-F9-sVaeMYn?usp=share_link">Revision Materials</a>      
                                 </div>
                                 <div>
                                    <a class="button" href="https://drive.google.com/drive/folders/1R70_YJ6BbOIDPxNdUhfE71m9pNesr7aC?usp=share_link">Proverbs Notes</a>      
                                 </div>
                                 
                            </section>
                            <section class="subjectsodd">
                                <div>
                                   <h2 style="font-weight: bold;"> MATHEMATICS </h2>
                                </div>
                                <div>
                                    <a class="button" href="https://drive.google.com/drive/folders/1rboUi9OLyQBCdbK4b9dAvtzNirkIl5YO?usp=share_link">Revision Notes</a>      
                                 </div>
                                 <div>
                                    <a class="button" href="https://drive.google.com/drive/folders/13e1iHccJq2S55nplfzkFlWhEp13QEOAe?usp=share_link">Exercises</a>      
                                 </div>
                                 
                            </section>
                            <section class="subjectseven">
                              <div>
                                 <h2 style="font-weight: bold;"> BIOLOGY </h2>
                              </div>
                              <div>
                                  <a class="button" href="https://drive.google.com/drive/folders/1kPRVeHL4eYNPU0VXVSSlFsaKLncu-1fZ?usp=share_link">Revision Notes</a>      
                               </div>
                               <div>
                                  <a class="button" href="https://drive.google.com/drive/folders/1-ZB-RIcaNLiZb85qdbHB8pFyDqF9JjCY?usp=share_link">Practices</a>      
                               </div>
                               
                          </section>
                          <section class="subjectsodd">
                           <div>
                              <h2 style="font-weight: bold;"> SEJARAH </h2>
                           </div>
                           <div>
                               <a class="button" href="https://drive.google.com/drive/folders/1UcA3qXDBjg9YySEhBL9MmRlpauX3uNwO?usp=share_link">Koleksi Nota</a>      
                            </div>
                            <div>
                               <a class="button" href="https://drive.google.com/drive/folders/1_e1wnd2quRHG8ccQV1TIGqWFVkqcUn2d?usp=share_link">Latihan</a>      
                            </div>
                            
                   </section>
                   <section class="subjectseven">
                     <div>
                        <h2 style="font-weight: bold;"> TRIAL PAPERS </h2>
                     </div>
                     <div>
                         <a class="button" href="https://drive.google.com/drive/folders/11tzBXWMPzZyHJgRUsNzx0_Kaop9CfuCN?usp=share_link">2022</a>      
                      </div>
                      <div>
                         <a class="button" href="https://drive.google.com/drive/folders/1TNEwVrz8oCvzAvvz5yzUKEtIPNQanZWD?usp=share_link">2021</a>      
                      </div>
                      <div>
                        <a class="button" href="https://drive.google.com/drive/folders/1X-nfeQjEo07aq5DbEPpEA-DXWBuF3y1I?usp=share_link">2020</a>      
                     </div>
               </section>


                           </section>
                          



                     
                        <section>
                            <section class="subjectseven">
                                <div>
                                   <h2 style="font-weight: bold;"> SCIENCE </h2>
                                </div>
                                <div>
                                    <a class="button" href="https://drive.google.com/drive/folders/1QJpNbsu_20gMfdSxKVyq-aCfFNMtVsTp?usp=share_link">Revision Notes</a>      
                                 </div>
                                 <div>
                                    <a class="button" href="https://drive.google.com/drive/folders/1v2sMK1pjaRUy4U3oIMhGboc1j0zm7YZR?usp=share_link">Exercises</a>      
                                 </div>
                                 
                            </section>
                            <section class="subjectsodd">
                                <div>
                                   <h2 style="font-weight: bold;"> PEND ISLAM </h2>
                                </div>
                                <div>
                                    <a class="button" href="https://drive.google.com/drive/folders/1QW54-1_7yRMb0KPOH1UoOxxfhjEagWbq?usp=share_link">Koleksi Nota</a>      
                                 </div>
                                 <div>
                                    <a class="button" href="https://drive.google.com/drive/folders/1bsH-y41iqrDtKpe0prntKc0lFAN72cHS?usp=share_link">Contoh Soalan</a>      
                                 </div>
                            </section>
                            <section class="subjectseven">
                                <div>
                                   <h2 style="font-weight: bold;"> PEND MORAL </h2>
                                </div>
                                <div>
                                    <a class="button" href="https://drive.google.com/drive/folders/1KZ6t-NstLi7TOiQdgGdNCzHursEKj26d?usp=share_link">Koleksi Nota</a>      
                                 </div>
                                 <div>
                                    <a class="button" href="https://drive.google.com/drive/folders/1ccWDr98c7kdyfk0eMhrrIcN6BJMNCetu?usp=share_link">Sampel Soalan</a>      
                                 </div>
                                 
                        </section>
                        <section class="subjectsodd">
                           <div>
                              <h2 style="font-weight: bold;"> EKONOMI </h2>
                           </div>
                           <div>
                               <a class="button" href="https://drive.google.com/drive/folders/1HweW3NFBZC3R5rkCbKVIi8yFiE49oasj?usp=share_link">Koleksi Nota</a>      
                            </div>
                            <div>
                               <a class="button" href="https://docs.google.com/document/d/11K1N_hsqmxf0SMlC638MX9ziFLRWvkEUF2Ku5w7XnBc/edit?usp=share_link">Useful links</a>      
                            </div>
                            
                   </section>
                   <section class="subjectseven">
                     <div>
                        <h2 style="font-weight: bold;"> P. PERAKAUNAN </h2>
                     </div>
                     <div>
                         <a class="button" href="https://drive.google.com/drive/folders/1WnayfHBu1AXsd98_WW8YGEWLhsWxqFuT?usp=share_link">Koleksi Nota</a>      
                      </div>
                      <div>
                         <a class="button" href="https://drive.google.com/drive/folders/1rodN-xdsNVySKU6yaJmc8-jRzQqL0p8h?usp=share_link">Latihan</a>      
                      </div>
                      
                 </section>
                 <section class="subjectsodd">
                  <div>
                     <h2 style="font-weight: bold;"> OTHERS... </h2>
                  </div>
                  <div>
                      <a class="button" href="https://drive.google.com/drive/folders/11tzBXWMPzZyHJgRUsNzx0_Kaop9CfuCN?usp=share_link">Digital Textbooks</a>      
                   </div>
                   <div>
                      <a class="button" href="https://drive.google.com/drive/folders/1TNEwVrz8oCvzAvvz5yzUKEtIPNQanZWD?usp=share_link">SPM Format</a>      
                   </div>
                   <div>
                     <a class="button" href="https://drive.google.com/drive/folders/16I7QHrVbthlTpjfHlwbAY_5oPn7grd9s?usp=share_link">Youtube Links</a>      
                  </div>
            </section>

                   </section>
                   <section>
                    <section class="subjectsodd">
                        <div>
                           <h2 style="font-weight: bold;" > ADD MATH </h2>
                        </div>
                        <div>
                            <a class="button" href="https://drive.google.com/drive/folders/1eKzXWj8JsWBTiZEz6vMl55uINGauFVdH?usp=share_link">Revision Notes</a>      
                         </div>
                         <div>
                            <a class="button" href="https://drive.google.com/drive/folders/1wwyVsZTMV62E2uL7T8T-At6J-PYEdlcQ?usp=share_link">Exercises</a>      
                         </div>
                    </section>
                    <section class="subjectseven">
                        <div>
                           <h2 style="font-weight: bold;"> CHEMISTRY </h2>
                        </div>
                        <div>
                            <a class="button" href="https://drive.google.com/drive/folders/1vP3XmroWmKTZOnpYKCo5IjWm4-H_Bd6M?usp=share_link">Revision Notes</a>      
                         </div>
                         <div>
                            <a class="button" href="https://drive.google.com/drive/folders/1jOOgjvWhIKksNMX2rJHq6Jctg8eiUZuv?usp=share_link">Practices</a>      
                         </div>
                         
                    </section>
                    <section class="subjectsodd">
                        <div>
                           <h2 style="font-weight: bold;"> PHYSICS </h2>
                        </div>
                        <div>
                            <a class="button" href="https://drive.google.com/drive/folders/1nst8w9XDdWk7X1pHd2x-68Q-jR3Q-XHM?usp=share_link">Revision Notes</a>      
                         </div>
                         <div>
                            <a class="button" href="https://drive.google.com/drive/folders/1lTROF3i8-TrunmHsmZgs3FsFI3K43gs0?usp=share_link">Exercises</a>      
                         </div>
                         
                </section>
                
              
          <section class="subjectseven">
            <div>
               <h2 style="font-weight: bold;"> GEOGRAFI </h2>
            </div>
            <div>
                <a class="button" href="https://drive.google.com/drive/folders/1o8UGi31rE2QDGmOupxL-elESAxBYlVoH?usp=share_link">Koleksi Nota</a>      
             </div>
             <div>
                <a class="button" href="https://drive.google.com/drive/folders/1IftwlnmpNo7FVRFyPOvC-X_hmaI0w0dc?usp=share_link">Buku Teks Digital</a>      
             </div>
             
        </section>
        
    
  <section class="subjectsodd">
      <div>
         <h2 style="font-weight: bold;"> BAHASA CINA </h2>
      </div>
      <div>
          <a class="button" href="https://drive.google.com/drive/folders/1TLyRIUCDqLzaxEUk0aOEhK-vCxVnjcKF?usp=share_link">Koleksi Nota</a>      
       </div>
       <div>
          <a class="button" href="https://drive.google.com/drive/folders/1TLyRIUCDqLzaxEUk0aOEhK-vCxVnjcKF?usp=share_link">Latihan</a>      
       </div>
       
</section>

           </section>
                    </div>
                </div>
            </section>

                        
<section>
           <h2 style="font-weight: bold; font-family: Verdana, Geneva, Tahoma, sans-serif; font-style: unset;"> TRY OUR QUIZZIZ </h2>

           <div>
           <table style="width:75%">
            <tr>
              <th style="text-align: center;">Subjects</th>
              <th style="text-align: center;">Click to access the quizzes</th>
            
            </tr>
            <tr>
              <td>Kimia</td>
              <td>
               
                  <div>
                      <a class="button" href="https://quizizz.com/join/quiz/62e2a2fb8a3754001d4ecc3d/start?studentShare=true">Trial MRSM 2020</a>      
                   </div>
                   <div>
                      <a class="button" href="https://quizizz.com/join/quiz/633c5a123fba8e001e560149/start?studentShare=true">Trial MPSM 2020</a>      
                   </div>
                   <div>
                      <a class="button" href="https://quizizz.com/join/quiz/635b54a426236c001e3a0794/start?studentShare=true">Trial Melaka (Set 1)</a>      
                   </div>
                   <div>
                     <a class="button" href="https://quizizz.com/join/quiz/635b56716ebc7a001df4091b/start?studentShare=true">Trial Perak (Set 1)</a>      
                  </div>
                  <div>
                     <a class="button" href="https://quizizz.com/join/quiz/635b588a03adfa001d802dad/start?studentShare=true">Trial Kedah (Set 1)</a>      
                  </div>
          
              </td>
              
            </tr>
            <tr>
               <td>Chemistry</td>
               <td>
                
                   <div>
                       <a class="button" href="https://quizizz.com/join/quiz/62e29fe55c4e4a001f3ad5f3/start?studentShare=true">Trial MRSM 2020</a>      
                    </div>
                    <div>
                       <a class="button" href="https://quizizz.com/join/quiz/633c55335b37910022f0f070/start?studentShare=true">Trial MPSM 2020</a>      
                    </div>
                    <div>
                       <a class="button" href="https://quizizz.com/join/quiz/634831186846cf001eb82f82/start?studentShare=true">SMK Sandong Jaya</a>      
                    </div>
                    <div>
                      <a class="button" href="https://quizizz.com/join/quiz/633eedc7cc4d7c001d435a76/start?studentShare=true">Modul Sarawak (Set 1)</a>      
                   </div>
                   <div>
                      <a class="button" href="https://quizizz.com/join/quiz/635b513ad77013001d2cef69/start?studentShare=true">Modul Kuantan, Pahang</a>      
                   </div>
           
               </td>
              
            </tr>

            <tr>
               <td>Fizik</td>
               <td>
                
                   <div>
                       <a class="button" href="https://quizizz.com/join/quiz/6378ce8b5fdffb001dcd96bb/start?studentShare=true">Trial Pahang 2021</a>      
                    </div>
                    <div>
                       <a class="button" href="https://quizizz.com/join/quiz/6378d34ccd7ddf001da12abf/start?studentShare=true">Trial Sarawak 2021</a>      
                    </div>
                    <div>
                       <a class="button" href="https://quizizz.com/join/quiz/6378d7f1b561de001def1531/start?studentShare=true">Trial Terengganu 2021</a>      
                    </div>
                    <div>
                      <a class="button" href="https://quizizz.com/join/quiz/6378dc5532188e001e6eb232/start?studentShare=true">Trial Kelantan 2020</a>      
                   </div>
                   <div>
                      <a class="button" href="https://quizizz.com/join/quiz/6378e49b673b5c001d378b20/start?studentShare=true">Trial Penang (Set 1 2020)</a>      
                   </div>
           
               </td>
              
            </tr>

            <tr>
               <td>Physics</td>
               <td>
                
                  <div>
                     <a class="button" href="https://quizizz.com/join/quiz/63726edbd9d467001d20c57c/start?studentShare=true">Trial Pahang 2021</a>      
                  </div>
                  <div>
                     <a class="button" href="https://quizizz.com/join/quiz/6378d050fb4392001ef4aec9/start?studentShare=true">Trial Sarawak 2021</a>      
                  </div>
                  <div>
                     <a class="button" href="https://quizizz.com/join/quiz/6378d4c7983d7b001d63946c/start?studentShare=true">Trial Terengganu 2021</a>      
                  </div>
                  <div>
                    <a class="button" href="https://quizizz.com/join/quiz/6378da43948e67001d4c2e07/start?studentShare=true">Trial Kelantan 2020</a>      
                 </div>
                 <div>
                    <a class="button" href="https://quizizz.com/join/quiz/6378de7c37ec00001d0c7280/start?studentShare=true">Trial Penang (Set 1 2020)</a>      
                 </div>
           
               </td>
              
            </tr>

            <tr>
               <td>Perniagaan</td>
               <td>
                
                   <div>
                       <a class="button" href="https://quizizz.com/join/quiz/632ab86ef81af7001e7960b3/start?studentShare=true">Terengganu MPP3 2021</a>      
                    </div>
                    <div>
                       <a class="button" href="https://quizizz.com/join/quiz/632abe97ee02d2001e27f9a1/start?studentShare=true">Kedah MPSM 2021</a>      
                    </div>
                    <div>
                       <a class="button" href="https://quizizz.com/join/quiz/632ac15aa2bebf001ed07512/start?studentShare=true"> N. Sembilan MPSM 2021</a>      
                    </div>
                    
           
               </td>
              
            </tr>

            <tr>
               <td>Prinsip Perakaunan</td>
               <td>
                
                   <div>
                       <a class="button" href="https://quizizz.com/join/quiz/632b0c1d4a24ab001d2704e5/start?studentShare=true">Trial SBP 2021</a>      
                    </div>
                    <div>
                       <a class="button" href="https://quizizz.com/join/quiz/632b107805e68a001e577d74/start?studentShare=true">Kelantan YIK 2021</a>      
                    </div>
                    <div>
                       <a class="button" href="https://quizizz.com/join/quiz/632b126122783e0020ea95f7/start?studentShare=true">Trial MRSM 2021</a>      
                    </div>
                    <div>
                      <a class="button" href="https://quizizz.com/admin/quiz/634a7ff3140353001d2d7f3b?source=quiz_share">Conseptual Questions</a>      
                   </div>
                   
           
               </td>
              
            </tr>

            <tr>
               <td>Ekonomi</td>
               <td>
                
                   <div>
                       <a class="button" href="https://quizizz.com/join/quiz/632ac5d4e0ef9d001e714730/start?studentShare=true">Trial Penang 2021</a>      
                    </div>
                    <div>
                       <a class="button" href="https://quizizz.com/join/quiz/632ac9158763dc001e4a21ca/start?studentShare=true">Trial Melaka 2021</a>      
                    </div>
                    <div>
                       <a class="button" href="https://quizizz.com/join/quiz/632b08ed26b0c0001df5463e/start?studentShare=true">Trial Selangor 2021</a>      
                    </div>
                   
           
               </td>
              
            </tr>

            




          </table>

</div>
</section>


            </section>

        <footer class="wrapper style1 align-center">
            <div class="inner">
                <ul class="icons">
                    <li><a href="https://www.facebook.com/tutors.in.action.malaysia?mibextid=ZbWKwL" class="icon brands style2 fa-facebook-f"><span class="label">Facebook</span></a></li>
                    <li><a href="https://www.instagram.com/tutors.in.action/" class="icon brands style2 fa-instagram"><span class="label">Instagram</span></a></li>
                    <li><a href="https://tutors-in-action.org/discord" target="_blank" rel="noopener noreferrer" class="icon brands style2 fa-discord"><span class="label">Discord</span></a></li>
                    <li><a href="https://www.youtube.co++++++++++++++++++++m/channel/UCsfUo4ARbOGjbLAkfEnyFSA" target="_blank" rel="noopener noreferrer" class="icon brands style2 fa-youtube"><span class="label">YouTube</span></a></li>
                    <li><a href="https://www.linkedin.com/company/tutors-in-action-malaysia/" class="icon brands style2 fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
                    <!--<li><a href="#" class="icon brands style2 fa-twitter"><span class="label">Twitter</span></a></li>
                    <li><a href="#" class="icon style2 fa-envelope"><span class="label">Email</span></a></li>-->
                </ul>
                <p>Persatuan Pelajar Bantu Pelajar Malaysia (PPM-007-14-12102022) © 2023, All rights reserved.</p>
            </div>
        </footer>
        <script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/jquery.scrolly.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>
    </body>
</html>
